/* Lab name: Experimental Biochemistry
Exp name: Computation of various physical and chemical properties of Proteins and DNA from their primary sequence
File name: main.css
Developer: Prakriti Dhang */

.card {
    margin-bottom: 10px;
}



.img-container {
    
    display: inline-block;
    position: relative;
}

.div-inline {

    display: inline-block;
}

#card1 {
    font-family: "Times New Roman", Times, serif;
    display: none;
  }



.btn-purple{
  --bs-btn-color:#fff;
    --bs-btn-bg:#a646ff;
    --bs-btn-border-color:#a646ff;
    --bs-btn-hover-color:#fff;--bs-btn-hover-bg:#9130ec;
    --bs-btn-hover-border-color:#a646ff;
    --bs-btn-focus-shadow-rgb:49,132,253;
    --bs-btn-active-color:#fff;
    --bs-btn-active-bg:#a646ff;
    --bs-btn-active-border-color:purple;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#fff;
    --bs-btn-disabled-bg:#a646ff;
    --bs-btn-disabled-border-color:#a646ff;
}

.btn-slate-blue-grey {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6A5ACD;
    --bs-btn-border-color: #6A5ACD;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #483D8B;
    --bs-btn-hover-border-color: #6A5ACD;
    --bs-btn-focus-shadow-rgb: 106, 90, 205;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6A5ACD;
    --bs-btn-active-border-color: #4B0082;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6A5ACD;
    --bs-btn-disabled-border-color: #6A5ACD;
  }

  .btn-pink {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ad1457;
    --bs-btn-border-color: #e91e63;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c2185b;
    --bs-btn-hover-border-color: #e91e63;
    --bs-btn-focus-shadow-rgb: 233, 30, 99;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #e91e63;
    --bs-btn-active-border-color: #ad1457;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #e91e63;
    --bs-btn-disabled-border-color: #e91e63;
  }
  

  

  .btn-indian-red {
    --bs-btn-color: #fff;
    --bs-btn-bg: #CD5C5C;
    --bs-btn-border-color: #CD5C5C;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #B22222;
    --bs-btn-hover-border-color: #CD5C5C;
    --bs-btn-focus-shadow-rgb: 205, 92, 92;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #CD5C5C;
    --bs-btn-active-border-color: #8B0000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #CD5C5C;
    --bs-btn-disabled-border-color: #CD5C5C;
  }
  
  .btn-olive {
    --bs-btn-color: #fff;
    --bs-btn-bg: #808000;
    --bs-btn-border-color: #808000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6b6b00;
    --bs-btn-hover-border-color: #808000;
    --bs-btn-focus-shadow-rgb: 128, 128, 0;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #808000;
    --bs-btn-active-border-color: #595900;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #808000;
    --bs-btn-disabled-border-color: #808000;
  }

  

.calculator
{
    background-color:#3d4543;
    height:405px;
    width:300px;
    position:relative;
    top:2px;
    left:10px;
    z-index: 1;
    display: none;
    
} 