/* Lab name: Experimental Biochemistry
Exp name: Computation of various physical and chemical properties of Proteins and DNA from their primary sequence
File name: main.css
Developer: Prakriti Dhang */

.card {
    margin-bottom: 10px;
}

.img-container {
    
    display: inline-block;
    position: relative;
}

.div-inline {

    display: inline-block;
}

#card1 {
    font-family: "Times New Roman", Times, serif;
    display: none;
  }